#container {font-family Chalkboard};

.fancy-header {
    color: greenyellow;
    text-decoration:;
}
h1{
    text-align: center;
}
h2 {
    color: greenyellow;
    text-decoration: underline;
}
body {
    background-color: blue;
    background-repeat: repeat-x < img src = "/img/unnmaed.jpeg" >;
}
table{
    color:greenyellow;
    font-size: 25px;
}
a:hover {
    color: greenyellow;
}